* {
  font-family: 'Oswald', sans-serif;
}

.navbar-brand {
  color: #66902a;
  font-weight: bold;
}

.nav-item :hover {
  border-bottom: 3px solid #66902a;
  color: #66902a;
}
.nav-link {
  font-weight: 500;
}
.nav-item {
  transform: 0.4s;
}
@media (max-width: 768px) {
  .nav-item :hover {
    border-bottom: 0;
    color: 0;
  }
  
  /* corsel */

  .carousel-item {
    transform: scaleX(0.9);
  }
}

.card-body {
  text-align: center;
}

.card:hover {
  box-shadow: 1px 4px 32px -4px rgba(102, 144, 42, 0.71);
  transform: 0.4s;
}

.timun{
    background: url(assets/img/bg1.jpg) ;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.btn2 {
 height: 45px;
 width: 100px;
 background: white;
 border: 2px solid white;
}